.forms-tabs
    border 1px solid #aec2d8
    padding 2em
    border-radius 4px
    h2
        font 28px beIN Normal
        color secondcolor
        @media (max-width:991px)
            font-size 20px
    form
        width 50%
        margin auto
        padding-top 2em
        @media (max-width:991px)
            width 100%
        label 
            display block
            font 18px beIN
            color secondcolor
            margin 0
        input
            padding 8px
        input, select
            height 36px
            width 100%
            border-radius 4px
            outline none
            border 1px solid #aec2d8
            font-family beIN Normal
        button 
            padding .15em 2.5em
            background-color secondcolor 
            color white
            font 16px beIN Normal
            border none
            margin-top 1.5em
            border-radius 4px
            float left
            outline none
    form.contact-us
        width 80%
        @media (max-width:991px)
            width 100%
        textarea
            width 100%
            width 100%
            border-radius 4px
            outline none
            border 1px solid #aec2d8
            font-family beIN Normal
            padding 8px
.location, .details
    .google-maps
        -webkit-box-shadow: rgba(37,97,170,0.271) 4px 4px 9px 0px;
        -moz-box-shadow: rgba(37,97,170,0.271) 4px 4px 9px 0px;
        box-shadow: rgba(37,97,170,0.271) 4px 4px 9px 0px;
        iframe 
            width 100%
    h4
        color secondcolor 
        font 18px beIN
        padding-top 22px
        margin-bottom 0            